{% extends 'base.html' %}
{% load static %}
{% load jformat %}
{% load jalali_tags %}

{% block header_reference %}
    <link rel="stylesheet" href="{% static 'home/menu.css' %}">
    <link rel="stylesheet" href="{% static 'font.css' %}">
{% endblock %}

{% block content %}
    &nbsp;
    <h2 class="text-post"> تعداد پست ها در این صفحه {{ blog_count }} است </h2>
    &nbsp;

    <div class="text-all-post">
        {% for blog in blogs %}
            <a href="{% url 'blog:detail' blog_id=blog.id %}"><h1>{{ blog.title }}</h1></a>
            &nbsp;
            <h3>{{ blog.get_jalali_date|jformat:"%A %d %B   %Y "}}</h3>
            &nbsp;
            <p>{{ blog.description|striptags|truncatechars:100 }}</p>
            &nbsp;
        {% endfor %}
        &nbsp;
    </div>
{% endblock %}
